b/* CS 341 Homework
    Anna Yrjanson */

/* Header */
   h1 {
    width: 100%;
    background-color: rgb(119, 22, 46);
    color: whitesmoke;
    padding: 20px;
    font-family: "Times New Roman";
}

/* Background Color and Shifting */
body{
    margin:0;
    background-color: rgb(224, 209, 191);
    padding-left: 20px;
}

/* Sets "Orders for" header */
h3 {
    font-style: italic;
}

/* Selection Menu */
select {
  border: 0 none;
  color: #FFFFFF;
  background: transparent;
  font-style: italic;
  font-size: 17px;
  font-weight: bold;
  padding: 2px 10px;
  width: 75px;
  background-color: rgb(119, 22, 46);
}

/*
  Title: How TO - Custom Scrollbar
  Author: W3 Schools
  Code Version: 1.0
  Availability: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
  */

/* Creates a dropdown with the scrollbar */
.dropdown {
  position: absolute;
  top: 580px;
  overflow: hidden;
  width: 75px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: url("arrow.gif") no-repeat scroll 319px 5px rgb(119, 22, 46);
}